<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592031242689-4c3m35nkk4cta4rro0il90td0i02emrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592031242689-4c3m35nkk4cta4rro0il90td0i02emrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMPhvC7gPF2hg6BJbfaWIGcQgO9u88zM</string>
	<key>GCM_SENDER_ID</key>
	<string>592031242689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalMap</string>
	<key>PROJECT_ID</key>
	<string>todo-97ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-97ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592031242689:ios:8355734e9bfeec8d783740</string>
</dict>
</plist>